<html>
  <head>
    <title>uniSource</title>
  </head>
  <body>


    <form autocomplete="off" action="/">
      <dl>

      <dt>
      <h4>  <label for "first_name">First Name:</label> </h4>
      </dt>
      <dd>
        <input id="first_name" name="first_name" class = "format" type="text">
      </dd>

      <dt>
<p></p>
        <h4><label for "lastName">Last Name:</label></h4>
      </dt>
      <dd>
        <input id="last_name" name="last_name" class = "format" type="text">
      </dd>
<p></p>


      <dt>
        <h4><label for "state">State (of college):</label></h4>
      </dt>
      <dd>
        <input id="state" name="state" class = "autocomplete" type="text">
      </dd>
<p></p>
      <dt>
      <h4>  <label for "college">College:</label> </h4>
      </dt>
      <dd>
        <input id="college" name="college" class = "autocomplete" type="text">
      </dd>
<p></p>
      <dt>
      <h4>  <label for "major">Major:</label></h4>
      </dt>
      <dd>
        <input id="major" name="major" class = "format" type="text">
      </dd>
<p></p>

        <h4> <label for="description" class="format">Description - Tell Us More About Yourself:</label></h4>
       </dt>
       <dd>
         <textarea rows="4" cols="100" id="description" class="profile_form" name="desc"></textarea>
       </dd>
      </dl>

  <p></p>
      <h4><input type="submit" value="Sign Up!"></h4>
    </form>
  </body>
  <script src="../static/createProfile.js"></script>
</html>
